.card-wrapper{
    background-color: #F9FAFB;
    max-width: 300px;
}
.card-info{
    padding: 0 0 30px 30px;
}
.card-name{
    color: #424F5E;
    font-size: 20px;
    font-weight: 500;
}
.card-place{
    color: #424F5E;
    font-size: 18px;
    font-weight: 400;
}
.card-desc{
    color: #424F5E;
    font-size: 18px;
    font-weight: 500;
}
.card-price{
    color: #424F5E;
    font-weight: 500;
    font-size: 20px;
}
.card-moreinfo{
    border: none;
    border-radius: 10px;
    background-color: #3782DA;
    color: white;
    padding: 10px;
    width: 50%;
    font-size: 18px;
    font-weight: 450;
}
